/* navbar */
.container,
.container-fluid {
  padding-top: 50px;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: -20px 20px -20px 0px;
}

.logo:hover {
  transform: scale(1.1) rotate(5deg);
  transition: all .2s ease-in-out;
  filter: drop-shadow(5px 5px 10px);
}

.links {
  margin-left: 680px;
  font-size: 20px;
}

.nav-link {
  letter-spacing: 2px;
  margin: 0 10 0 10;
}

.home,
.about {
  color: black;
}

.pro {
  color: white;
}

.what {
  background-color: white;
}

.what:hover {
  color: #000;
}

.nav-item {
  float: right;
}

.navbar {
  background-color: #7db6df;
  /* position: fixed; */
  width: 100%;
  overflow: hidden;
  margin-bottom: 500px;
  padding: 25px;
}

/* video */

.jumbotron-fluid {
  height: 600px;
}

video {
  width: 100%;
  height: 535px;
  object-fit: contain;
}

/* who-we-are */

.who {
  font-size: 45px;
}

#intro {
  padding: 30px;
  margin-top: -180px;
  background-color: white;
  opacity: .7;
  color: #6199c2;
}

.img-fluid {
  height: 180px;
  margin-left: 50px;
}

.image1 {
  margin-bottom: 30px;
}

/* Form */

.request,
.details {
  color: white;
}

.request {
  text-align: center;
}

.formcontainer {
  background-color: #263039;
  padding: 40px 400px 70px 400px;
}

.btn-primary {
  margin-left: 280px;
  font-size: 20px;
  margin-top: 30px;
  border: 4px solid rgb(0, 195, 255);
  background-color: #263039;
  color: rgb(0, 195, 255);
}

/* hp logo */

.hp {
  margin-left: 450px;
  margin-bottom: 50px;
}

/* footer */

#footer {
  background-color: #7db6df;
  text-align: center;
}

#social {
  justify-content: center;
  font-size: 40px;
}

.fa-twitter,
.fa-linkedin-in {
  margin: 20px;
  padding: 15px;
  border-radius: 50%;
}

.fa-linkedin-in {
  background-color: rgb(37, 65, 107);
  color: white;
}

.fa-twitter {
  background-color: rgb(0, 153, 255);
  color: white;
}

.fa-twitter:hover,
.fa-linkedin-in:hover {
  transform: scale(1.3);
}

.myrow {
  display: block;
  padding-bottom: 40px;
}

#support {
  justify-content: center;
  font-size: 18px;
  color: white;
}

#copyright {
  justify-content: center;
  font-size: 15px;
  padding-bottom: 10px;
}

#copyright {
  color: white;
}

.copy {
  margin-bottom: 50px;
}